<form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Iniciar Sessão</h1>

    <input formControlName="email" type="email" style="width: 16rem" class="form-control" placeholder="Email" required>

    <input formControlName="password" type="password" style="width: 16rem" class="form-control" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
</form>