<div>
    <p-table #tableConsultas [columns]="cols" [value]="exams" [rows]="rows" [scrollable]="true" scrollHeight="402px" [paginator]="true" [showCurrentPageReport]="true" [(first)]="first" currentPageReportTemplate="A mostrar {first} a {last} de {totalRecords} exames"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Módulo
                </th>
                <th pSortableColumn="code">Código
                    <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Descrição
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="requestDate">Data de Requisição
                    <p-sortIcon field="requestDate"></p-sortIcon>
                </th>
                <th pSortableColumn="examDate">Data de Execução
                    <p-sortIcon field="examDate"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <p-columnFilter *ngSwitchCase="'code'" type="text" placeholder="Todos" field="code"></p-columnFilter>
                    <p-columnFilter *ngSwitchCase="'description'" type="text" placeholder="Todos" field="description"></p-columnFilter>
                    <p-calendar [(ngModel)]="dateFilters" appendTo="body" *ngSwitchCase="'examDate'" selectionMode="range" [readonlyInput]="false" dateFormat="dd.mm.yy" (onSelect)="tableConsultas.filter($event, col.field, 'dateRangeFilter')">
                    </p-calendar>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [ngSwitch]="true">
                    <span *ngSwitchCase="col.field === 'requestDate'">{{ rowData[col.field] | date: 'dd/MM/yyyy' }}</span>
                    <span *ngSwitchCase="col.field === 'examDate'">{{ rowData[col.field] | date: 'dd/MM/yyyy' }}</span>
                    <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>