<form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Registo</h1>

    <input formControlName="name" class="form-control" style="width: 16rem" placeholder="Name" required>

    <input formControlName="email" type="email" class="form-control" style="width: 16rem" placeholder="Email" required>

    <input formControlName="password" type="password" class="form-control" style="width: 16rem" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Criar Conta</button>
</form>