<body>
    <div class="container-fluid" *ngIf="auth">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Exames</span>
                        </h6>
                        <li class="nav-item">
                            <a href="#" class="nav-link active" (click)="importExam()">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#upload" />
                                </svg> Importar Exames
                            </a>
                        </li>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Análise</span>
                        </h6>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#speedometer2" />
                                </svg> Indicadores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLink="/graficoconsultas" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#bargraph" />
                                </svg> Gráfico Consultas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLink="/graficointernamentos" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#bargraph" />
                                </svg> Gráfico Internamentos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLink="/graficourgencias" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#bargraph" />
                                </svg> Gráfico Urgências
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLink="/listaconsultas" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#checklist" />
                                </svg> Consultas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLink="/listainternamentos" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#checklist" />
                                </svg> Internamentos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLink="/listaurgencias" class="nav-link active">
                                <svg class="bi me-2" width="16" height="20">
                                    <use xlink:href="#checklist" />
                                </svg> Urgências
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="speedometer2" viewBox="0 1 16 16">
            <path
                d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
            <path fill-rule="evenodd"
                d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
        </symbol>

        <symbol id="checklist" viewBox="0 1 16 16">
            <path
                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
            <path
                d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
        </symbol>

        <symbol id="bargraph" viewBox="0 1 16 16">
            <path
                d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
        </symbol>

        <symbol id="upload" viewBox="0 1 16 16">
            <path
            fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </symbol>
    </svg>
</body>